# Игнорировать кэш Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Игнорировать настройки VS Code
.vscode/

# Игнорировать тяжелые файлы с весами моделей
*.pth

# Игнорировать все датасеты
/datasets/